:root {

    /**
     * colors
     */
  
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: #725483;
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
     * typography
     */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /**
     * border-radius
     */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /**
     * transition 
     */
  
    --transition-timing: 0.2s ease;
  
  }
  
  
  
 
 /**
   * overlay 
   */
  
   .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding: 0 15px; }
  
  .has-scrollbar { padding-bottom: 5px; }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  
  .has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }
  
  .has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }
  
  .title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
}
.body-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
}

body, html {
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
.site-header {
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}
.site-header.sticky_head {
    background: rgb(255 255 255 / 80%);
    padding: 20px 0;
    border-color: #f2f2f2;
    backdrop-filter: blur(20px);
}

.main-navigation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.main-navigation .menu li {
    display: inline-block;
    position: relative;
    margin: 0 6px;
}

.main-navigation .menu li:first-child {
    margin-left: 0;
}

.main-navigation .menu li:last-child {
    margin-right: 0;
}

.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul {
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
}

a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul a {
    width: 200px;
}

.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul {
    left: auto;
}

.main-navigation .menu li a {
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #0d0d25;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;
}

.main-navigation .menu li a:hover, .main-navigation .menu li .active-menu, .main-navigation .menu .sub-menu li .active-sub-menu {
    color: #725483;
    background: #f3f3f5;
    box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
}

.header-right {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
    box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
    align-items: center;
}

.cart-number {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    font-size: 12px;
    border: 1px solid #bfbfbf;
    color: #725483;
}

.header-btn:hover {
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;
}

.header-search-form {
    position: relative;
}

.for-des {
    display: block !important;
}

.header-search-form button {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;
}

.header-search-form .form-input {
    font-size: 14px;
    padding-right: 40px;
    width: 200px;
    height: 40px;
}

.form-input::placeholder {
    color: rgba(70 69 71 / 0.7);
}

.form-input {
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.uil {
    color: #725483;
}

@media screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1368px;
    }
}

@media (min-width: 2100px) {
    .container {
        max-width: 1400px;
    }
    p, body, button, input {
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 1399px) {
    .header-right {
        margin-left: 20px;
    }
    .main-navigation .menu li {
        margin: 0 3px;
    }
}

@media (max-width: 1199px) {
    .header-btn {
        margin-left: 10px;
    }
    .header-right {
        margin-left: 10px;
    }
    .main-navigation .menu li {
        margin: 0;
    }
    .main-navigation .menu li a {
        padding: 4px 15px;
        font-size: 15px;
    }
    .header-search-form .form-input {
        width: 170px;
    }
}

@media (max-width: 991px) {
    .section {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .for-des {
        display: none !important;
    }
    .for-mob {
        display: block !important;
    }
    .site-header .container {
        max-width: 100%;
        padding: 0;
        height: 100%;
    }
    .site-header .container .row {
        margin: 0;
        height: 100%;
    }
    .site-header .container .row .col-lg-2 {
        width: auto;
        padding: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        z-index: 2;
        display: flex;
        align-items: center;
    }
    .menu-toggle {
        position: absolute;
        top: 50%;
        right: 30px;
        border: none;
        outline: none !important;
        background: transparent;
        width: 40px;
        height: 40px;
        transform: translate(0, -50%);
        z-index: 100;
        box-shadow: inset 6px 6px 7px #dadada, -6px -6px 10px #ffffff;
        border-radius: 10px;
        padding: 0 8px;
    }
    .menu-toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background: #725483;
        margin-bottom: 5px;
        transition: 0.3s;
        border-radius: 5px;
        position: relative;
    }
    .menu-toggle span:last-child {
        margin: 0;
    }
    .toggled .menu-toggle span:nth-child(1) {
        transform: rotate(45deg);
        top: 5px;
    }
    .toggled .menu-toggle span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
    }
    .toggled .menu-toggle span:nth-child(3) {
        opacity: 0;
        height: 0;
    }
    .toggled .header-menu {
        transform: translateY(0);
    }
    .header-menu {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: max(9vh, 30px);
        padding-left: max(6vh, 30px);
        z-index: 99;
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        overflow-y: auto;
        transform: translateY(-100%);
        background-image: url(assets/images/blog-pattern-bg.png);
        background-position: center;
        background-color: #f3f3f5;
    }
    .main-navigation .menu li {
        display: block;
        float: none;
        margin: 0;
        margin-bottom: max(20px, 4vh);
    }
    .main-navigation .menu li a {
        display: inline-block;
        font-size: max(16px, 2vh);
    }
    .main-navigation .menu .sub-menu {
        max-width: 220px;
        opacity: 1;
        visibility: visible;
        display: none;
    }
    .main-navigation .menu .sub-menu li {
        margin-bottom: 5px;
    }
    .main-navigation .menu li:last-child {
        margin: 0;
    }
    .main-navigation .menu .sub-menu li a {
        color: #725483;
    }
    .header-btn.header-cart {
        display: none;
    }
    .header-btn {
        margin: 0;
        margin-right: 70px;
    }
    .site-header {
        padding: 20px 0;
        box-shadow: 0px 10px 55px #d4d4d4;
    }
    .site-header.sticky_head, .site-header {
        background: rgb(255 255 255 / 90%);
    }
    body {
        height: auto !important;
    }
}

@media (max-width: 575px) {
    .container, .container-fluid {
        padding: 0 30px;
    }
}

@media (max-width: 400px) {
    .container, .container-fluid {
        padding: 0 15px;
    }
    .header-btn {
        margin-right: 56px;
    }
    .menu-toggle {
        right: 15px;
    }
    .site-header .container .row .col-lg-2 {
        left: 15px;
    }
}
  

/*-----------------------------------*\
    #BANNER
  \*-----------------------------------*/
  
  .banner { margin: 30px 0; }
  
  .slider-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    overflow: auto hidden;
    -webkit-scroll-snap-type: inline mandatory;
        -ms-scroll-snap-type: inline mandatory;
            scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
  }
  
  .slider-item {
    position: relative;
    min-width: 100%;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
  }
  
  .slider-item .banner-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  
  .banner-content {
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
  }
  
  .banner-subtitle {
    color: var(--salmon-pink);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  
  .banner-title {
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
  }
  
  .banner-text { display: none; }
  
  .banner-btn {
    background: var(--salmon-pink);
    color: var(--white);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .banner-btn:hover { background: var(--eerie-black); }
  
  /*-----------------------------------*\
    #CATEGORY
  \*-----------------------------------*/
  
  .category { margin-bottom: 30px; }
  
  .category-item-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    overflow: auto hidden;
    -webkit-scroll-snap-type: inline mandatory;
        -ms-scroll-snap-type: inline mandatory;
            scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
  }
  
  .category-item {
    min-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    scroll-snap-align: start;
  }
  
  .category-img-box {
    background: var(--cultured);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
  }
  
  .category-content-box { width: 100%; }
  
  .category-content-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  
  .category-item-title {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
  }
  
  .category-item-amount {
    color: var(--sonic-silver);
    font-size: var(--fs-11);
  }
  
  .category-btn {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: capitalize;
  }
  
  
   /*-----------------------------------*\
    #SIDEBAR
  \*-----------------------------------*/
  
  .sidebar {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    max-width: 320px;
    padding: 30px;
    overflow-y: scroll;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    visibility: hidden;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 20;
  }
  
  .sidebar.active {
    left: 0;
    visibility: visible;
  }
  
  .sidebar-category {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--cultured);
  }
  
  .sidebar-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  
  .sidebar-title {
    color: var(--onyx);
    font-size: var(--fs-5);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: var(--weight-600);
  }
  
  .sidebar-close-btn {
    color: var(--eerie-black);
    font-size: 22px;
    font-weight: var(--weight-600);
  }
  
  .sidebar-close-btn ion-icon { --ionicon-stroke-width: 50px; }
  
  .sidebar-accordion-menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7px 0;
  }
  
  .sidebar .menu-title-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  
  .sidebar .menu-title {
    font-size: var(--fs-5);
    color: var(--sonic-silver);
    font-weight: var(--weight-500);
  }
  
  .sidebar-accordion-menu ion-icon {
    color: var(--sonic-silver);
    font-size: 14px;
    --ionicon-stroke-width: 70px;
  }
  
  .sidebar-submenu-category-list {
    border-top: 1px solid var(--cultured);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  .sidebar-submenu-category-list.active {
    padding: 13px 0 8px;
    max-height: 122px;
    visibility: visible;
  }
  
  .sidebar-submenu-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    padding: 2px 0;
  }
  
  .sidebar-submenu-title:hover { color: var(--eerie-black); }
  
  .sidebar .product-name { text-transform: capitalize; }
  
  .sidebar-accordion-menu.active .add-icon,
  .sidebar-accordion-menu .remove-icon { display: none; }
  
  .sidebar-accordion-menu .add-icon,
  .sidebar-accordion-menu.active .remove-icon { display: block; }
  
  .sidebar .showcase-heading {
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    color: var(--onyx);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
  }
  
  .sidebar .showcase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  
  .sidebar .showcase:not(:last-child) { margin-bottom: 15px; }
  
  .sidebar .showcase-img { -webkit-border-radius: var(--border-radius-sm); border-radius: var(--border-radius-sm); }
  
  .sidebar .showcase-content { width: -webkit-calc(100% - 90px); width: calc(100% - 90px); }
  
  .sidebar .showcase-title {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    letter-spacing: 0.5px;
  }
  
  .sidebar .showcase-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--sandy-brown);
    font-size: 13px;
    padding: 4px 0;
  }
  
  .sidebar .price-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  
  .sidebar .price-box del {
    color: var(--sonic-silver);
    font-size: 13px;
  }
  
  .sidebar .price-box .price {
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    color: var(--davys-gray);
  }
  
  
  /*-----------------------------------*\
    #PRODUCT MINIMAL
  \*-----------------------------------*/
  
  .product-minimal { margin-bottom: 30px; }
  
  .product-minimal .product-showcase { margin-bottom: 10px; }
  
  .product-minimal .showcase-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    -webkit-scroll-snap-type: inline mandatory;
        -ms-scroll-snap-type: inline mandatory;
            scroll-snap-type: inline mandatory;
  }
  
  .product-minimal .showcase-container {
    min-width: 100%;
    padding: 0 5px;
    scroll-snap-align: start;
  }
  
  .product-minimal .showcase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    border: 1px solid var(--cultured);
    padding: 15px;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
  }
  
  .product-minimal .showcase:not(:last-child) { margin-bottom: 15px; }
  
  .product-minimal .showcase-content { width: -webkit-calc(100% - 85px); width: calc(100% - 85px); }
  
  .product-minimal .showcase-title {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    margin-bottom: 2px;
  }
  
  .product-minimal .showcase-category {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: var(--davys-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    margin-bottom: 3px;
  }
  
  .product-minimal .showcase-category:hover { color: var(--salmon-pink); }
  
  .product-minimal .price-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  
  .product-minimal .price {
    font-size: var(--fs-7);
    font-weight: var(--weight-700);
    color: var(--salmon-pink);
  }
  
  .product-minimal .price-box del {
    font-size: var(--fs-9);
    color: var(--sonic-silver);
  }
  
  
  
  
  
  /*-----------------------------------*\
    #PRODUCT FEATURED
  \*-----------------------------------*/
  
  .product-featured { margin-bottom: 30px; }
  
  .product-featured .showcase-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    -webkit-scroll-snap-type: inline mandatory;
        -ms-scroll-snap-type: inline mandatory;
            scroll-snap-type: inline mandatory;
  }
  
  .product-featured .showcase-container {
    min-width: 100%;
    padding: 30px;
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    scroll-snap-align: start;
  }
  
  .product-featured .showcase-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .product-featured .showcase-content { margin-top: 30px; }
  
  .product-featured .showcase-rating {
    color: var(--sandy-brown);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .product-featured .showcase-title {
    font-size: var(--fs-7);
    color: var(--eerie-black);
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 3px;
  }
  
  .product-featured .showcase-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-300);
    margin-bottom: 10px;
  }
  
  .product-featured .price-box {
    font-size: var(--fs-3);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .product-featured .price {
    color: var(--salmon-pink);
    font-weight: var(--weight-700);
  }
  
  .product-featured del {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
  }
  
  .product-featured .add-cart-btn {
    background: var(--salmon-pink);
    padding: 8px 15px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .product-featured .add-cart-btn:hover {
    background: var(--eerie-black);
    color: var(--white);
  }
  
  .product-featured .showcase-status { margin-bottom: 15px; }
  
  .product-featured .showcase-status .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-400);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .product-featured .showcase-status-bar {
    background: var(--cultured);
    position: relative;
    height: 10px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
  }
  
  .product-featured .showcase-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 40%;
    background: var(--salmon-pink);
    -webkit-border-radius: 4px;
            border-radius: 4px;
  }
  
  .product-featured .countdown-desc {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .product-featured .countdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  
  .product-featured .countdown-content {
    padding: 5px;
    background: var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    text-align: center;
  }
  
  .product-featured .display-number {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-500);
    min-width: 40px;
  }
  
  .product-featured .display-text {
    color: var(--davys-gray);
    font-size: var(--fs-11);
  }

  /*-----------------------------------*\
    #PRODUCT GRID
  \*-----------------------------------*/
  
  .product-main { margin-bottom: 30px; }
  
  .product-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  
  .product-grid .showcase {
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    overflow: hidden;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .product-grid .showcase:hover { -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }
  
  .product-grid .showcase-banner { position: relative; }
  
  .product-grid .product-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .product-grid .product-img.default {
    position: relative;
    z-index: 1;
  }
  
  .product-grid .product-img.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
  }
  
  .product-grid .showcase:hover .product-img.hover { opacity: 1; }
  
  .product-grid .showcase:hover .product-img.default { opacity: 0; }
  
  .product-grid .showcase:hover .product-img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
  
  .product-grid .showcase-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--ocean-green);
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    color: var(--white);
    padding: 0 8px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
    z-index: 3;
  }
  
  .product-grid .showcase-badge.angle {
    top: 8px;
    left: -29px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 40px;
  }
  
  .product-grid .showcase-badge.black { background: var(--eerie-black); }
  
  .product-grid .showcase-badge.pink { background: var(--salmon-pink); }
  
  .product-grid .showcase-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    z-index: 3;
  }
  
  .product-grid .showcase:hover .showcase-actions { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
  
  .product-grid .btn-action {
    background: var(--white);
    color: var(--sonic-silver);
    margin-bottom: 5px;
    border: 1px solid var(--cultured);
    padding: 5px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .product-grid .btn-action:hover {
    background: var(--eerie-black);
    color: var(--white);
    border-color: var(--eerie-black);
  }
  
  .product-grid .showcase-content { padding: 15px 20px 0; }
  
  .product-grid .showcase-category {
    color: var(--salmon-pink);
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .product-grid .showcase-title {
    color: var(--sonic-silver);
    font-size: var(--fs-8);
    font-weight: var(--weight-300);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .product-grid .showcase-title:hover { color: var(--eerie-black); }
  
  .product-grid .showcase-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: var(--sandy-brown);
    margin-bottom: 10px;
  }
  
  .product-grid .price-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: var(--fs-7);
    color: var(--eerie-black);
    margin-bottom: 10px;
  }
  
  .product-grid .price { font-weight: var(--weight-700); }
  
  .product-grid del { color: var(--sonic-silver); }
  
   /*-----------------------------------*\
    #TESTIMONIAL
  \*-----------------------------------*/
  
  .testimonials-box { margin-bottom: 50px; }
  
  .testimonial-card {
    padding: 30px 20px;
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    text-align: center;
    margin-bottom: 25px;
  }
  
  .testimonial-banner {
    margin: auto;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
  }
  
  .testimonial-name {
    font-weight: var(--weight-700);
    text-transform: uppercase;
    color: var(--sonic-silver);
    margin-bottom: 5px;
  }
  
  .testimonial-title {
    color: var(--onyx);
    font-size: var(--fs-7);
    margin-bottom: 15px;
  }
  
  .quotation-img {
    margin: auto;
    margin-bottom: 10px;
  }
  
  .testimonial-desc {
    max-width: 70%;
    margin: auto;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
  }
  
  
  
  
  
  /*-----------------------------------*\
    #CTA
  \*-----------------------------------*/
  
  .cta-container {
    position: relative;
    aspect-ratio: 5 / 6;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    overflow: hidden;
    margin-bottom: 25px;
  }
  
  .cta-banner {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .cta-content {
    background: hsla(0, 0%, 100%, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 15px 20px;
    text-align: center;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
  }
  
  .cta-content .discount {
    background: var(--eerie-black);
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    padding: 0 5px;
    -webkit-border-radius: var(--border-radius-sm);
            border-radius: var(--border-radius-sm);
    margin-bottom: 5px;
  }
  
  .cta-title {
    color: var(--onyx);
    font-size: var(--fs-5);
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  
  .cta-text {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    margin-bottom: 5px;
  }
  
  .cta-btn {
    font-size: var(--fs-9);
    color: var(--sonic-silver);
    text-transform: uppercase;
    font-weight: var(--weight-700);
    margin: auto;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #SERVICE
  \*-----------------------------------*/
  
  .service-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 30px;
    padding: 30px 15px;
    border: 1px solid var(--cultured);
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
  }
  
  .service-item {
    min-width: 190px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  
  .service-icon {
    font-size: 35px;
    color: var(--salmon-pink);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .service-icon ion-icon { --ionicon-stroke-width: 25px; }
  
  .service-item:hover .service-icon { color: var(--eerie-black); }
  
  .service-title {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  
  .service-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-9);
  }
  
  
  
  
  
  /*-----------------------------------*\
    #BLOG
  \*-----------------------------------*/
  
  .blog { margin-bottom: 30px; }
  
  .blog-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 15px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    -webkit-scroll-snap-type: inline mandatory;
        -ms-scroll-snap-type: inline mandatory;
            scroll-snap-type: inline mandatory;
  }
  
  .blog-card {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .blog-banner {
    width: 100%;
    -webkit-border-radius: var(--border-radius-md);
            border-radius: var(--border-radius-md);
    margin-bottom: 20px;
  }
  
  .blog-category {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: var(--salmon-pink);
    font-size: var(--fs-8);
  }
  
  .blog-title {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    line-height: 1.4;
    margin-bottom: 5px;
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
  }
  
  .blog-title:hover { color: var(--salmon-pink); }
  
  .blog-meta {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
  }
  
  .blog-meta cite {
    font-style: normal;
    color: var(--davys-gray);
  }
  
  
  
  
 

  


  /* ***************** footer ****************** */


.top-footer, .bottom-footer {
  border-top: 1px solid rgb(204 204 204 / 40%);
  position: relative;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-info .social-icon {
  margin-top: 20px;
}

.footer-flex-box {
  display: flex;
  margin: 0 -10px;
}

.footer-flex-box>div {
  flex: 1;
  padding: 0 10px;
}

.footer-flex-box .h3-title {
  text-transform: capitalize;
  margin-bottom: 23px;
}

.footer-menu ul li a {
  color: #0d0d25;
  transition: 0.3s;
  text-transform: capitalize;
}

.footer-menu ul li a:hover, .footer-menu ul li .footer-active-menu {
  color: #725483;
}

.footer-menu ul li {
  margin-bottom: 8px;
}

.footer-table-info ul li {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.uil-clocl {
  font-size: 17px;
}

.copyright-text {
  padding: 20px 0;
}

.copyright-text p {
  margin: 0;
}

.name {
  color: #725483;
  font-weight: bold;
}

.scrolltop {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f3f3f5;
  box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
  color: #725483;
  font-size: 26px;
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  border: none;
}

.scrolltop:hover {
  box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
  color: #0d0d25;
}


